
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client &laquo;[[${client.surname}]]&raquo; editing</title>
    <style>
        input{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h2>Client &laquo;[[${client.name}]] [[${client.surname}]]&raquo; editing</h2>
<div data-th-if="${errors}">
    <h3>Errors:</h3>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}">error</li>
    </ul>
</div>
<form method="post" data-th-action="@{/manager/clients/{clientId}/edit(clientId=${client.id})}">
    <label>
        Name:<br>
        <input type="text" name="name" data-th-value="${payload != null ? payload.name : client.name}">
    </label><br>
    <label>
        Surname:<br>
        <input type="text" name="surname" data-th-value="${payload != null ? payload.surname : client.surname}">
    </label><br>
    <label>
        Phone number:<br>
        <input type="text" name="phoneNumber" data-th-value="${payload != null ? payload.phoneNumber : client.phoneNumber}">
    </label><br>
    <label>
        Description:<br>
        <textarea name="description" data-th-text="${payload != null ? payload.description : client.description}"></textarea>
    </label><br>

    <button type="submit">Edit</button>
</form>
</body>
</html>
